apiVersion: apps/v1
kind: Deployment
metadata:
  name: devops-learning-api
spec:
  replicas: 2
  selector:
    matchLabels:
      app: devops-learning-api
  template:
    metadata:
      labels:
        app: devops-learning-api
    spec:
      containers:
        - name: api
          image: devops-learning-api:latest
          ports:
            - containerPort: 8000
          readinessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 15
            periodSeconds: 20
